﻿<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
@*<script src="~/template-content/js/jquery/jquery-chosen.js"></script>*@

<div class="row">
    <div class="col-md-12">
        <br />

        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active"> / Manutenção de contas</li>
        </ol>

        <div ng-controller="EditableRowCtrl">
            <div style="padding-bottom: 20px">
                <button class="btn btn-primary" type="button" ng-click="addUser()"><span class="glyphicon glyphicon-plus"></span> Adicionar nova conta</button>
                <br />
            </div>

            <table class="table table-bordered table-hover table-condensed">
                <tr style="font-weight: bold">
                    <td style="width:35%">Descrição</td>
                    <td style="width:20%">Valor</td>
                    <td style="width:30%">Categoria</td>
                    <td style="width:40%">Opção</td>
                </tr>

                <tr ng-repeat="conta in contas" ng-click="rowform.$show()">
                    <td>
                        <span editable-text="conta.descricao" e-name="descricao" e-form="rowform" onbeforesave="checkDescricao($data, conta.id)" e-required>
                            {{ conta.descricao || 'empty' }}
                        </span>
                    </td>
                    <td>
                        <span editable-text="conta.valor" e-name="valor" e-form="rowform" onbeforesave="checkValor($data, conta.id)" e-required>
                            {{ conta.valor || 'empty' }}
                        </span>
                    </td>

                    <td>
                        @*<span editable-select="conta.categoria" e-name="categoria" e-form="rowform" e-ng-options="s.value as s.text for s in categorias">
                            {{ showCategorias(conta) }}
                        </span>*@
                        
                        <span editable-select="conta.categoria" e-chosen="" e-name="categoria" e-form="rowform" e-ng-options="s.value as s.text for s in categorias">
                            {{ showCategorias(conta) }}
                        </span>
                        
                    </td>

                    <td style="white-space: nowrap">
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="saveUser($data, user.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-success">
                                <span class="icon-ok"></span>
                            </button>

                            @*<button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                                cancel
                            </button>*@

                        </form>
                        <div class="buttons" ng-show="!rowform.$visible">
                            @*<button class="btn btn-primary" ng-click="rowform.$show()">edit</button>*@
                            <button class="btn btn-danger" ng-click="removeUser($index)">
                                <span class="icon-trash"></span>
                            </button>
                            @*<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">more</button>*@
                        </div>
                    </td>

                </tr>
            </table>

            @*<script>
                $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').focus();
                })
            </script>*@

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Manutenção de contas</h4>
                        </div>
                        <div class="modal-body">
                            <p>Not implemented</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>
