﻿<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title - My ASP.NET Application</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="layout" content="main" />

        <script type="text/javascript" src="http://www.google.com/jsapi"></script>

        @Styles.Render("~/template-content/css")
        @Styles.Render("~/xeditable/css")

    </head>
<body ng-app="app">

    <div id="body-container">
        <div id="body-content">
            
            <!-- vertical fixed nav -->
            <div class="body-nav body-nav-vertical body-nav-fixed">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#"><i class="icon-dashboard icon-large"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-calendar icon-large"></i> Schedule</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-map-marker icon-large"></i> Map It</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-tasks icon-large"></i> Widgets</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-cogs icon-large"></i> Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-list-alt icon-large"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-bar-chart icon-large"></i> Charts</a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <!-- horizontal nav -->
            <section class="nav nav-page">
                <div class="container">
                    <div class="row">
                        <div class="span7">
                            <div class="navbar-header">
                                <br />
                                <a href="~/Home/Principal" class="navbar-brand">
                                    <img src="~/Content/img/marca-frg-loja.png" />
                                </a>
                            </div>
                        </div>

                        <div class="page-nav-options">
                            <div class="span9">
                                <ul class="nav nav-pills">
                                    <li>
                                        <a href="#"><i class="icon-home icon-large"></i></a>
                                    </li>
                                </ul>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#"><i class="icon-home"></i>Home</a>
                                    </li>
                                    <li><a href="#">Maps</a></li>
                                    <li><a href="#">Admin</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="page container">
                @RenderBody()
            </section>
        </div>
    </div>
     
    <footer class="application-footer">
        <div class="container">
            @DateTime.Now.Year - FRG Informática
        </div>
    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/template-content/js")
    @Scripts.Render("~/angularjs")
    @Scripts.Render("~/xeditable/js")
    
    <script src="~/Content/angular-chosen-master/example/vendor/chosen.jquery.js"></script>
    <script src="~/Content/angular-chosen-master/chosen.js"></script>
    <link href="~/Content/angular-chosen-master/example/vendor/chosen.css" rel="stylesheet" />
    <link href="~/Content/angular-chosen-master/chosen-spinner.css" rel="stylesheet" />
    
    @RenderSection("scripts", required: false)
</body>
</html>
